<a href="https://colab.research.google.com/github/RanjanaAT/Ranjana_29th_Jan_Python_Assignment/blob/main/Imbalance_Dataset_1_03_2023.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## **Imbalance Dataset**

In [5]:
import numpy as np
import pandas as pd
import seaborn as sns
from sklearn import preprocessing
from collections import Counter

In [6]:
data = pd.read_csv("/content/train_modified.csv")
data.head()

,Disbursed,Existing_EMI,ID,Loan_Amount_Applied,Loan_Tenure_Applied,Monthly_Income,Var4,Var5,age,EMI_Loan_Submitted_missing,...,Var1_16,Var1_17,Var1_18,Var2_0,Var2_1,Var2_2,Var2_3,Var2_4,Var2_5,Var2_6
0,0.0,0.0,0,300000.0,5.0,20000,1,0,41.713895,1,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
1,0.0,0.0,2,200000.0,2.0,35000,3,13,34.338125,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
2,0.0,0.0,5,600000.0,4.0,22500,1,0,38.329911,1,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,6,1000000.0,5.0,35000,3,10,32.191650,1,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
4,0.0,25000.0,7,500000.0,2.0,100000,3,17,35.975359,1,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0

In [7]:
data.shape

(37650, 51)

In [ ]:
print(sorted(Counter(data['Disbursed']).item()))

In [9]:
loan_app = data[data['Disbursed']==1]
loan_ntapp = data[data['Disbursed']==0]

In [10]:
print(loan_app.shape,loan_ntapp.shape,data.shape)

(567, 51) (37083, 51) (37650, 51)

In [11]:
X=data
Y=data['Disbursed']

In [13]:
X.drop('ID',axis=1,inplace=True)
X.columns

Index(['Disbursed', 'Existing_EMI', 'Loan_Amount_Applied',
       'Loan_Tenure_Applied', 'Monthly_Income', 'Var4', 'Var5', 'age',
       'EMI_Loan_Submitted_missing', 'Interest_Rate_Missing',
       'Loan_Amount_Submitted_Missing', 'Loan_Tenure_Submitted_Missing',
       'Processing_Fee_Missing', 'Device_Type_0', 'Device_Type_1',
       'Filled_Form_0', 'Filled_Form_1', 'Gender_0', 'Gender_1',
       'Mobile_Verified_0', 'Mobile_Verified_1', 'Source_0', 'Source_1',
       'Source_2', 'Var1_0', 'Var1_1', 'Var1_2', 'Var1_3', 'Var1_4', 'Var1_5',
       'Var1_6', 'Var1_7', 'Var1_8', 'Var1_9', 'Var1_10', 'Var1_11', 'Var1_12',
       'Var1_13', 'Var1_14', 'Var1_15', 'Var1_16', 'Var1_17', 'Var1_18',
       'Var2_0', 'Var2_1', 'Var2_2', 'Var2_3', 'Var2_4', 'Var2_5', 'Var2_6'],
      dtype='object')

In [14]:
X.drop('Disbursed',axis=1,inplace=True)

### #pip install imbalance

In [15]:
from imblearn import under_sampling, over_sampling

In [18]:
from imblearn.over_sampling import RandomOverSampler
ros = RandomOverSampler(random_state=0)
X_resampled, y_resampled = ros.fit_resample(X, Y)
print(sorted(Counter(y_resampled).items()),y_resampled.shape)

[(0.0, 37083), (1.0, 37083)] (74166,)

In [19]:
from imblearn.under_sampling import RandomUnderSampler

rus = RandomUnderSampler(random_state=0)
X_resampled, y_resampled = rus.fit_resample(X,Y)
print(sorted(Counter(y_resampled).items()),y_resampled.shape)

[(0.0, 567), (1.0, 567)] (1134,)